@model List<ModelAoto.Models.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FeLayout.cshtml";
}



<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @Html.Action("MainPageListBrands", "FeBrands")
    </div>
</div>