@model ModelAoto.Models.Entities.EmployeeDepartment
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Detayları</h2>
<br />

<div style="background-color: darkgray">

</div>
<br />

<table class="table table-hover">
    <tr>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Fotoğraf</th>
        <th></th>
    </tr>

    <tr>
        @foreach (var item in Model)
        {
            v
        }
    </tr>
</table>