@model List<ModelAoto.Models.Entities.Product>
@{
    ViewBag.Title = "IndexMiniGt";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


@foreach (var item in Model)
{
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <a href="https://www.modeloto.com.tr/wp-content/uploads/2023/10/Nissan-GT-R-R34-Tommykaira-R-z-Red1.jpeg"><img width="300" height="300" src="https://www.modeloto.com.tr/wp-content/uploads/2023/10/Nissan-GT-R-R34-Tommykaira-R-z-Red1.jpeg" class="wp-post-image" alt="Nissan GT-R (R34) Tommykaira R-z Red" title="Nissan GT-R (R34) Tommykaira R-z Red1" data-caption="" data-src="https://www.modeloto.com.tr/wp-content/uploads/2023/10/Nissan-GT-R-R34-Tommykaira-R-z-Red1.jpeg" data-large_image="https://www.modeloto.com.tr/wp-content/uploads/2023/10/Nissan-GT-R-R34-Tommykaira-R-z-Red1.jpeg" data-large_image_width="100" data-large_image_height="100" draggable="false"></a>
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">@item.ProductName</h6>
                    <div class="d-flex justify-content-center">
                        <h6>@item.PurchasePrice</h6><h6 class="text-muted ml-2"><del>@item.SalePrice</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    <h2>@item.ProductName</h2>
}