
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FeLayout.cshtml";
}

<div class="container col-6">

    <h2>Kullanılan Kaynaklar</h2>

    <ul>
        <li>https://minigt.tsm-models.com/img/OG3.jpg</li>
        <li>https://cdn.shopify.com/s/files/1/0487/1192/5925/collections/d901d186-2e5d-428c-b86a-4c76f9e56d76.jpg?v=1691322199</li>
        <li>https://1000logos.net/wp-content/uploads/2020/09/Hot-Wheels-logo.png</li>
        <li>https://www.diecastturkey.com/</li>
        <li>https://www.modeloto.com.tr/</li>
        <li>https://www.modeloto.com.tr/model-araba/hyundai-elantra-n-cyber-grey-metallic-mini-gt-164/</li>
        <li>https://www.modeloto.com.tr/model-araba/subaru-impreza-wrc97-1997-rally-sanremo-winner-3-mini-gt-164-512/</li>
        <li>https://www.modeloto.com.tr/model-araba/nissan-gt-r-r34-tommykaira-r-z-red-mini-gt-543/</li>
        <li>https://www.modeloto.com.tr/model-araba/lamborghini-aventador-svj-giallo-orion-mini-gt-164-563/</li>
        <li>https://www.modeloto.com.tr/model-araba/mclaren-artura-ice-silver-mini-gt-164-582/</li>
       
    </ul>

        
</div>

