@model ModelAoto.Models.Entities.Brand
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Yeni Marka</h2>
<br>


@using (Html.BeginForm("Add", "Brands", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    

        @Html.LabelFor(x => x.BrandName)
        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x=>x.Image)
        <input type="file" name="Image" />


        <button class="btn btn-outline-primary">Ekle</button>
   

}